.footer {
  position: relative;
  background-color: $footerBg;
  padding-top: 70px;
  p {
    font-size: 14px;
  }
  &-content {
    margin-bottom: 40px;
    p {
      column-count: 4;
      color: $white;
      @include d(992) {
        column-count: 2;
      }
      @include d(375) {
        column-count: 1;
      }
    }
  }
  &-title {
    margin-bottom: 20px;
    .title-2, h2 {
      font-size: 30px;
      color: #ababab;
      margin-bottom: 20px;
      font-weight: 400;
    }
    p {
      color: #ababab;
      font-size: 16px;
    }
  }
  // &-box {
  //   padding: 0 15px;
  //   &:not(:last-child) {
  //     border-left: 1px solid  $borderColor;
  //   }
  //   .title-4, h4 {
  //     text-transform: uppercase;
  //   }
  // }
  &-list {
    color: $white;
    @include d(768) {
      margin-bottom: 30px;
    }
    &__link {
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-logo {
    max-width: 500px;
    margin-bottom: 5px;
  }
  &-bottom {
    margin-top: 70px;
    text-align: center;
    padding: 38px 15px;
    background-color: #181818;
    text-transform: uppercase;
  }
}