.boat-page {
  .header-row_top {
    display: none;
  }
}
.section-boat {
  min-height: 545px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.article-navigation {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  position: relative;
  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #ebebeb;
    width: 50vw;
  }
  &::before {
    right: 100%;
  }
  &::after {
    left: 100%;
  }
  li {
    margin-right: 10px;
    a {
      font-size: 14px;
      font-weight: 600;
      padding: 28px 25px 28px;
      display: inline-block;
    }
  }
}
.boat {
  &-content {
    padding-top: 60px;
  }
  &-article {
    padding: 60px 0px 30px;
    font-size: 14px;
    .title-3, h3 {
      font-size: 24px;
      font-weight: 600;
      color: #383838;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
      a {
        color: $primaryDark;
      }
    }
    &__list {
      margin-bottom: 30px;
      li {

        position: relative;
        padding-left: 15px;
        &::before {
          content: "-";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);

        }
      }
    }
    &__box {
      padding-bottom: 20px;
      border-bottom: 1px solid $borderColor;
      &:not(:first-child) {
        padding-top: 100px;
        @include d(992) {
          padding-top: 60px;
        }
        @include d(768) {
          padding-top: 40px;
        }
      }
    }
  }
  
  &-slider {
  
    &-wrapper {
      position: relative;
      margin-bottom: 30px;
    }
    .slick-dots {
      margin-top: 20px;
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 5px;
        display: inline-block;
        button {
          display: block;
          border: 2px solid $textColor;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          padding: 0;
        }
      }
    }
    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      z-index: 10;
      pointer-events: none;
    }
    &__btn {
      width: 40px;
      height: 40px;
      background-color: rgba(#000000, .7);
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      pointer-events: initial;
      .arrow-icon {
        fill: $white;
        width: 16px;
      }
      &_prev {
        .arrow-icon {
          position: relative;
          transform: scale(-1);
        }
      }
    }
  }
  &-list-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 20px;
    @include d(768) {
      flex-direction: column;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;  
    }
  }
  &-list {
    max-width: 40%;
    width: 100%;
    @include d(768) {
      max-width: 100%;
    }
    li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 10px;
      &:before {
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        transform: translate(0, -50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 14px;
        height: 14px;
      }
    }
    &.include {
      li:before {
        background-image: url(../img/svg/check-blue.svg);
      }
    }
    &.noninclude {
      li:before {
        background-image: url(../img/svg/close-icon-gray.svg);
      }
    }
  }
}

.zoom-img {
  position: relative;
  margin-bottom: 30px;
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000000, .4);
    opacity: 0;
    transition: opacity $hover-duration $timing;
    background-image: url(../img/svg/zoom.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
