.section-gallery {
  padding: 60px 0;
}

.how-it-works__gallery {
  margin: 0 -20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &-item {
    height: 201px;
    padding: 20px;
    flex: 0 0 25%;
    width: 25%;
    @include d(992) {
      width: 33.333%;
      flex: 0 0 33.333%;
    }
    @include d(768) {
      width: 50%;
      flex: 50%;
    }
    @include d(420) {
      width: 100%;
      flex: 100%;
    }
    p {
      text-align: center;
      position: relative;
      color: $white;
      z-index: 1;
      line-height: 1.7em;
      font-weight: 700;
    }
    &:nth-last-of-type(2) {
      flex: 50%;
      @include d(420) {
        width: 100%;
        flex: 100%;
      }
    }
    &:last-child() {
      flex: 50%;
      @include d(420) {
        width: 100%;
        flex: 100%;
      }
    }
  }

  &-img {
    position: relative;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($black, .2);
      z-index: 0;
    }
  }
}