.tour-page {
  .section-form {
    background-color: #DBDBDB;

    .form-title {
      margin-bottom: 0;
      padding: 0;
      text-align: left;

      &::before {
        display: none;
      }
    }
  }

  .section-tour {
    background-color: $white;

    .title-2 {
      color: #303030;
    }
    .tour-list {
      align-items: flex-start;
    }
  }
}

.tour__card {
  margin-bottom: 80px;
  position: relative;
  background-color: $white;

  @include d(992) {
    margin-bottom: 40px;
  }

  @include d(992) {
    margin-bottom: 20px;
  }

  &-img {
    margin-bottom: 35px;
    position: relative;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    @include d(992) {
      margin-bottom: 20px;
    }

    img {
      object-fit: cover;
      border-radius: 3px;
      position: relative;
      transform: scale(1);
      transition: transform $duration $timing;
    }
  }

  &-content {

    .title-5,
    h5 {
      margin-bottom: 20px;

    }
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .title-5,
    h5 {
      font-size: 15px;
      font-weight: 600;
    }
  }
}