.tour-page {
  .section-form {
    background-color: #DBDBDB;
    .form-title {
      margin-bottom: 0;
      padding: 0;
      text-align: left;
      &::before {
        display: none;
      }
    }
  }
}
.tour__card {
  margin-bottom: 80px;
  position: relative;
  @include d(992) {
    margin-bottom: 40px;
  }
  @include d(992) {
    margin-bottom: 20px;
  }
  &-img {

    margin-bottom: 35px;
    position: relative;
    @include d(992) {
      margin-bottom: 20px;
    }
    img {
      object-fit: cover;
      border-radius: 3px;
    }
  }

  &-content {

    .title-5,
    h5 {
      margin-bottom: 20px;

    }
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .title-5,
    h5 {
      font-size: 15px;
      font-weight: 600;
    }
  }
}