<!-- footer start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-title">
          <h2 class="title-2">WHY CHOOSE US</h2>
          <p class="footer-subtitle">The original Whitsundays flotilla sailing experience.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-content">
          <p>7 years experience Our team are experienced in organising sailing flotillas in the Whitsundays and around
            the world.
            Local knowledge We work with local companies to ensure you experience the best the Whitsundays has to offer.
            Professional skippers Our friendly local skippers know the area and are highly trained, professional and
            competent sailors.
            Travel concierge Our concierge works hard to ensure your trip requests are met and planned within the
            constraints of the area.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#" class="footer-list__link">COVID-19 Precautions</a>
          </li>
          <li class="footer-list__item">
            <a href="terms.html" class="footer-list__link">Terms & Conditions</a>
          </li>
          <li class="footer-list__item">
            <a href="terms.html" class="footer-list__link">Website Terms</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="group-booking.html" class="footer-list__link">Groups & Events</a>
          </li>
          <li class="footer-list__item">
            <a href="faq.html" class="footer-list__link">FAQs</a>
          </li>
          <li class="footer-list__item">
            <a href="contanct.html" class="footer-list__link">Contact Us</a>
          </li>
      </div>
      <div class="col-md-6">
        <div class="footer-logo">
          <img src="img/svg/logo.svg" alt="whitsundaysweek">
        </div>
        <p>The Whitsundays Week is a registered trading name of LWC PTY LTD</p>
        <p>ABN 86 150 158 740</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>COPYRIGHT 2020 THE WHITSUNDAYS WEEK, ALL RIGHT RESERVED
    </p>
  </div>
</footer>
<!-- footer end -->