<!-- footer start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-box">
          <h4 class="title-4">How it works</h4>
          <ul class="footer-list">
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">How it works</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">FAQ</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Legal</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-box">
          <h4 class="title-4">What we do</h4>
          <ul class="footer-list">
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Bespoke Events</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Group Booking</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-box">
          <div class="footer-logo">
            <img src="img/svg/logo.svg" alt="whitsundaysweek">
          </div>
          <p>The Whitsundays Week is a registered trading name of LWC PTY LTD</p>
          <p>ABN 86 150 158 740</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>COPYRIGHT 2020 THE WHITSUNDAYS WEEK, ALL RIGHT RESERVED
    </p>
  </div>
</footer>
<!-- footer end -->