<!-- header start -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-row_top">
          <div class="header-contacts">
            <a href="tel:0401987993" class="header-phone">
              <svg class="svg-icon">
                <use xlink:href="img/svg/sprite-svg/sprite.svg#phone"></use>
              </svg>
              0401 987 993</a>
            <a href="mailto:Info@sailinghardware.shop" class="header-email">
              <svg class="svg-icon">
                <use xlink:href="img/svg/sprite-svg/sprite.svg#mail"></use>
              </svg>
              Info@sailinghardware.shop</a>
          </div>
          <div class="header-social">
            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="svg-icon">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="svg-icon">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg class="svg-icon">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="header-register">
              <button class="header-register__btn">
                <svg class="svg-icon">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#lock"></use>
                </svg>
                Login
              </button>
              <button class="header-register__btn">
                <svg class="svg-icon">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#user"></use>
                </svg>
                Sign Up
              </button>
            </div>
          </div>
        </div>
        <div class="header-row_bottom">
          <a href="#" class="logo">
            <img src="img/png/logo.png" alt="whitsundays week">
          </a>
          <nav>
            <ul class="nav-list">
              <li class="nav-list__item active"><a class="nav-list__link" href="#home">Home</a></li>
              <li class="nav-list__item"><a class="nav-list__link" href="#">Whitsundays Week</a>
                <ul class="subnav">
                  <li>
                    <a href="#">How It Works</a>
                  </li>
                  <li>
                    <a href="#">Whats included</a>
                  </li>
                  <li>
                    <a href="#">Cabins</a>
                  </li>
                  <li>
                    <a href="#">FAQ</a>
                  </li>
                  <li>
                    <a href="#">Bespoke Events</a>
                  </li>
                  <li>
                    <a href="#">Group Booking</a>
                  </li>
                </ul>
              </li>
              <li class="nav-list__item"><a class="nav-list__link" href="#">Our tours</a></li>    
              <li class="nav-list__item"><a class="nav-list__link" href="#">Contact</a></li>
            </ul>
            <button class="header-btn">Book Now</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->