// project colors

$textColor: #595959;
$headerBg: rgba(#303030, 0.45);

$primaryLight: #359dff;
$grayLighter: #d6d6d6;
$gray: #595959;
$orange: #ffa127;
$footerBg: #202020;

$primary: #0062cc;
$black: #231f20;
$white: #ffffff;

$cyan: #24C1D6;
$red: #DD2727;
$blackLight: #333333;
$gold: #E8AE68;
$green: #43E5B2;
$lime: #44DB5E;
$blue: #274673;
// timing
$hover-duration: 0.3s;
$duration: 0.8s;
$animationDuration: 1.4s;
$timing: cubic-bezier(0.7, 0, 0.3, 1);