// project colors


$textColor: #595959;
$headerBg: rgba(#303030, .45);

$primaryLight: #359dff;
$grayLighter: #d6d6d6;
$gray: #595959;
$orange: #ffa127;
$footerBg: #202020;

$primary: #0062CC;
$black: #231F20;
$white: #ffffff;
// timing
$hover-duration: .3s;
$duration: .8s;
$animationDuration: 1.4s;
$timing: cubic-bezier(.7, 0, .3, 1);
