// project colors
$white: #ffffff;
$black: #000000;
$textColor: #8c8c8c;
$headerBg: rgba(#303030, .45);
$primary: #468ae7;
$primaryDark: #0062CC;
$primaryLight: #359dff;
$borderColor: #e1e1e1;
$grayLighter: #bababa;
$gray: #747474;
$grayDark: #303030;
$orange: #ffa127;
$footerBg: #202020;
// timing
$hover-duration: .3s;
$duration: .8s;
$animationDuration: 1.4s;
$timing: cubic-bezier(.7, 0, .3, 1);
